<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="static/css/style.css">
<script type="text/javascript" src="static/script/script.js"></script>
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis !!!!!!!!!!</h1>
        <p>Tell me something and I will tell you the sentiment of your sentence</p>
        <form id="analyze-form">
            <textarea id="text" placeholder="text to be analyzed"></textarea>
            <button type="submit">Run!!!</button>
        </form>
        <div id="result-container" class="result" style="display: none;"></div>
    </div>
</body>
</html>